<div class="game-container grid">
    <div class="col-12 sm:col-5 flex">
        <button pButton pRipple type="button" label="47%" class="p-button p-button-warning"></button>
        <app-profile class="p-0 flex-1"></app-profile>
    </div>
    <div class="col-2 col-offset-5 sm:col-2 sm:col-offset-0 flex justify-content-center">
        <div>
            <div class="vs-text">VS
            </div>
            <div class="table-number">Table 1</div>
        </div>

    </div>
    <div class="col-12 sm:col-5 sm:col-offset-0 flex">
        <app-profile class="p-0 flex-1"></app-profile>
        <button pButton pRipple type="button" label="53%" class="p-button p-button-success"></button>
    </div>
<!--    <button pButton pRipple type="button" label="Finish" class="p-button p-button-success end-button"></button>-->

</div>
