<div class="labeled-avatar-container p-1">
    <p-avatar image="assets/demo/images/avatar/xuxuefeng.png" size="xlarge" shape="circle"></p-avatar>
    <div class="m-2">
        <strong class="label">Younes Najjar</strong>
        <div class="sub-label-container">
            <div><img src="assets/icons/rank-small.png" width="25" /><strong>10</strong></div>
            <div><img src="assets/icons/rating-small.png" width="18" /><strong class="text-green-500">55%</strong></div>
        </div>
    </div>

</div>
