<div class="grid">
    <div class="col-12 grid">
        <div class="card col-12 xl:col-8 xl:col-offset-2">
            <app-game></app-game>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <app-iconed-card title="Games played" value="124" improvementText="Games played in since 22 Mars 2022"></app-iconed-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <app-iconed-card iconColor="orange" icon="map-marker" title="Games played today" value="10" improvement="20" improvementSymbol=" more" improvementText=" games than last week"></app-iconed-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <app-iconed-card iconColor="cyan" icon="inbox" title="Most playing" value="Younes Najjar" improvement="20" improvementSymbol="%" improvementText=" Win rate"></app-iconed-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <app-iconed-card iconColor="purple" icon="comment" title="Most Winning" value="Younes Najjar" improvement="20" improvementSymbol="%" improvementText=" Win rate"></app-iconed-card>
    </div>
    <div class="col-12 xl:col-6">


        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Last updates</h5>
            </div>

            <app-dashboaed-notifications></app-dashboaed-notifications>
        </div>
        <div class="card">
            <h5>Sales Overview</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>

        <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
             [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
            <div>
                <div class="text-blue-100 font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
                <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
            </div>
            <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                <a target="_blank" href="https://www.primefaces.org/primeblocks-ng"
                   class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                    Get Started
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Recent Sales</h5>
            <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th>View</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 15%; min-width: 5rem;">
                            <img src="assets/demo/images/product/{{product.image}}" class="shadow-4"
                                 alt="{{product.name}}" width="50">
                        </td>
                        <td style="width: 35%; min-width: 7rem;">{{product.name}}</td>
                        <td style="width: 35%; min-width: 8rem;">{{product.price | currency:'USD'}}</td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search"
                                    class="p-button p-component p-button-text p-button-icon-only"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Best Selling Products</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                            class="p-button-rounded p-button-text p-button-plain"
                            (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                        <div class="mt-1 text-600">Clothing</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                        </div>
                        <span class="text-orange-500 ml-3 font-medium">%50</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                        </div>
                        <span class="text-cyan-500 ml-3 font-medium">%16</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                        </div>
                        <span class="text-pink-500 ml-3 font-medium">%67</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                        <div class="mt-1 text-600">Office</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                        </div>
                        <span class="text-green-500 ml-3 font-medium">%35</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                        <div class="mt-1 text-600">Accessories</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                        </div>
                        <span class="text-purple-500 ml-3 font-medium">%75</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                        <div class="mt-1 text-600">Clothing</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                             [ngStyle]="{height: '8px'}">
                            <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                        </div>
                        <span class="text-teal-500 ml-3 font-medium">%40</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

