<li class="flex align-items-center py-2 border-bottom-1 surface-border">
    <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
        <i class="pi pi-dollar text-xl text-blue-500"></i>
    </div>
    <span class="text-900 line-height-3 text-green-700">Younes Najjar
                        <span class="text-700"> has won against <span class="text-900 line-height-3 text-pink-700">Younes Najjar</span>
                        <span class="text-blue-500"> 3 to 1</span>
                    </span>
                </span>
</li>
